<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>90975018965-9mgbjohroue4au5r70lt5jcgp8mea33m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90975018965-9mgbjohroue4au5r70lt5jcgp8mea33m</string>
	<key>API_KEY</key>
	<string>AIzaSyCBs2vwmIeQ17zy8ITdczyy_9wjA5Aa2xo</string>
	<key>GCM_SENDER_ID</key>
	<string>90975018965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-90ac0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-90ac0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90975018965:ios:ac8f463436a4b0d6</string>
	<key>DATABASE_URL</key>
	<string>https://chat-90ac0.firebaseio.com</string>
</dict>
</plist>